@import '_variables.scss';
@import '../node_modules/materialize-css/sass/materialize.scss';

@import './fontawesome/fontawesome.scss';
@import './fontawesome/fa-light.scss';
@import './fontawesome/fa-regular.scss';
@import './fontawesome/fa-solid.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat/Montserrat-Regular.ttf');
}

$primary-green: #14a6c7;
$primary-green-hover: #374f5a;
$primary-dark: #333;
$secondary-dark: #979797;
$primary-red: #D6456A;

html {
    font-family: 'Montserrat'
}

h1 {
    font-size: 1.3rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.15rem;
}
h5 {
    font-size: 1.1rem;
}

strong {
    font-weight: 900;
}

nav {
    background: white;
    color: $primary-dark;
    height: 50px;
    line-height: 50px;

    i {
        color: $primary-dark;
    }

    ul {
        a {
            color: $primary-dark;
        }
    }
}

#section-1 {
    padding-bottom: 20px;
    background-color: $secondary-color;

    .carousel {
        height: 600px;

        .carousel-item {
            background: url("/img/carousel_1.png") center center;
            background-size: cover;
            padding-top: 60px;
            padding-bottom: 60px;
            
            .carousel-content {
                border: solid black 1px; //BORRAR

                h2 {
                    font-size: 4rem;
                    font-weight: 900;
                    line-height: 70px;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#section-2 {
    padding: 60px 10%;
    
    h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }
    
    #advantages{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 50px 0px;

        .advantage_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            margin: 20px;
    
            i {
                font-size: 5rem;
                color: $primary-color;
            }

            h3 {
                font-weight: bold;
            }

            li {
                list-style-type: disc;
                margin-left: 15px;
            }
        }
        
    }

    .advantages-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#section-3 {
    background-color: gray;
    min-height: 500px;
    background-size: 100% auto;

    h2 {
        font-size: 4rem;
        font-weight: 900;
        color: white;
    }
}

#section-4 {
    background: radial-gradient(circle, #00A8F9 0%, #00287C 100%);
    padding: 40px 0;

    #course-header {
        font-size: 2.7rem;
        font-weight: 900;
        color: white;
        margin: 50px 0px;
    }

    #courses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .course_item {
            background-color: white;
            width: 320px;
            padding: 0 30px;
            margin: 20px;

            .course_content {

                .category {
                    color: $primary-color;
                    font-size: 5rem;
                    font-weight: 900;
                }
            }

            .course-button {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 30px 0px;
            }

            i {
                font-size: 1.5rem;
                width: 30px;
                color: $primary-color;
            }
        }
    }

}

#section-5 {
    margin: 0;
    min-height: 500px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    
    #image {
        padding: 0;
        min-height: 200px;
    }

    #content {
<<<<<<< HEAD
=======
        padding: 80px 0px;
>>>>>>> 2caf3ffe0168755ab2797ce794599d9e7ba5611c
        padding: 0px 10px;
        display: flex;
        align-items: center;

        #content-text {
    
            h2 {
                font-size: 2.7rem;
                font-weight: 900;
            }

            a {
                margin: 20px 0px;
            }
        }
    }
}


footer {

    #info-footer {
        margin: 0;
        padding: 15px;
        background-color: #373737;
        color: white;

        h1 {
            font-size: 4rem;
            font-weight: bold;
            margin: 0;
        }
    }

    #logos-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
            margin: 20px 30px;
        }
    }
}


@media #{$small-and-down} {// styles for small screens and down
    
}

@media #{$medium-and-up} { // styles for medium screens and larger
    #section-4 {
        padding: 70px 10%;
    }

    #section-5 {
        #content {
            padding: 80px 0px;
        }
    }

    footer {
        #info-footer {
            padding: 15px 5%;
        }
    }
}

@media #{$medium-and-down} { // styles for medium screens and down
    
}

@media #{$large-and-up} { // styles for large screens and up
    #section-4 {
        padding: 100px 10%;
    }
}

@media #{$extra-large-and-up} { // styles for extra large screens and up
    
}